[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhotosynQ"]
	path = PhotosynQ
	url = https://github.com/photosynq/photosynq-r
